
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: "CircularStd";
  src: url('../circular-std/CircularStd-Bold.woff2') format('woff2'),
  url("../circular-std/CircularStd-Bold.woff") format("woff");
  /* Additional font properties can be added here */
}

:root {
  --blue-color:#0a559f;
  --dark-color: #18212e;
  --white-color: #ffff;
  --gray-color:#747b86;
  --circularStd-font:"CircularStd",sans-serif;
  --poppins-font:"Poppins", sans-serif;
  --Montserrat-font:"Montserrat", sans-serif;
  --Lora-font:"Lora", serif;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}
body {
  font-family: var(--circularStd-font);
  font-family: var(--poppins-font);
  font-family: var(--Montserrat-font);
  font-family: var(--Lora-font);
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

.hero-section{
background-image: url("../images/hero-section-bg-img.jpg");
background-color: var(--blue-color);
background-repeat: no-repeat;
height: 462px;
background-position-y: -110px;
}



header .navbar{
  padding: 20px 30px;
}

header nav li a{
  font-family: var(--circularStd-font);
  font-size: 16px;
  color: var(--white-color);
  text-transform: capitalize;
  text-decoration: none;
  padding: 0px 10px 36px 10px;
  margin-left: 23px;

}

header nav li a.active{
  border-bottom: 1px solid var(--white-color);
}
.hero-section hr {
  margin: 0rem 45px;
  color: inherit;
  border: 0;
  border-top: 1px solid #3e4a57;
  opacity: 1;
}

.hero-section .wrapper {
  padding: 115px 0px
} 

.hero-section h1{
    font-family: var(--poppins-font);
    font-size: 68px;
    font-weight: 700;
    color: var(--white-color);
    text-transform: capitalize;
    text-align: center;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
span.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler{
  border: transparent;
}

/* section-2 */
.section-2{
    margin: 120px 0px 0px;
    padding-bottom: 70px;
    background-color: #fafafa;
}

.section-2 .image{
    background-color: var(--blue-color);
    padding-bottom: 25px;
}

.section-2 .image img{
    margin-top: -20px;
    width: 100%;
    margin-left: -25px;
}

.section-2 h2{
    font-family: var(--circularStd-font);
    font-size: 51px;
    color: var(--blue-color);
    text-transform: capitalize;
    padding: 0px 0px 0px 40px;
    border-left: 3px solid var(--blue-color);
    height: 80px;
    line-height: 80px;
    margin: 30px 0px 30px;
}
.section-2 p{
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 400;
    color: #747b86;
    line-height: 32px;

}
.section-2 .testimonail {
display: flex;
align-items: center;
padding: 50px 0px;
}
.section-2 .testimonail .logo {
    padding-right: 10px;
}

.section-2 .testimonail .text-content {
    border-left: 2px solid var(--blue-color);
    padding: 0px 0px 0px 12px;
    height: 45px;
}

.section-2 .testimonail p {
    font-family: var(--poppins-font);
    font-size: 13px;
    font-weight: 500;
    color: #18212e;
    line-height: 25px;
}
/* End-section-2 */


/* section-3 */
.section-3{
margin: 40px 0px 70px;
}

.section-3 h2{
  font-family: var(--circularStd-font);
  font-size: 51px;
  color: var(--blue-color);
  text-transform: capitalize;
  text-align: center;
  padding: 50px 0px;
}

.section-3 .card{
    border: 0px;
}
.section-3 .card h5{
    font-family: var(--poppins-font);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-color);
    text-transform: capitalize;
    padding: 15px 0px 3px;
}

.section-3 .card p{
    font-family: var(--poppins-font);
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    color: var(--dark-color);

}


.section-3 .card ul {
display: flex;
justify-content: center;
padding: 15px 0px;
}
.section-3 .card ul li{
list-style-type: none;
}

.section-3 .card ul li a{
    font-family: var(--circularStd-font);
    font-size: 8px;
    background-color: var(--dark-color);
    padding: 10px 12px;
    border-radius: 50%;
    color: var(--white-color);
    margin: 3px;

}

.section-3 .card ul li a:hover{
    background-color: var(--blue-color);
}


/* section-3 */

/* footer */

footer{
  background-color: var(--dark-color);
  }
  
  footer .top-footer{
    padding: 60px 0px;
  }
  
  footer .top-footer ul li {
    list-style-type: none;
    
  }
  
  footer .top-footer ul li a {
    text-decoration: none;
    
  }
  
  footer .top-footer .top-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }
  footer .top-footer .top-ul li{
    padding: 20px 20px;
  }
  footer .top-footer .top-ul li:first-of-type{
    width: 100%;
    text-align: center;
  }
  footer .top-footer .top-ul li a{
  font-family: var(--poppins-font);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white-color);
  }
  
  footer .top-footer .bottom-ul{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
  }
  
  footer .top-footer .bottom-ul li a{
    padding: 13px 15px;
    background-color: #333333;
    font-size: 14px;
    color: var(--white-color);
    margin-right: 12px;
    border-radius: 50%;
  
  }
  
  footer .top-footer .bottom-ul li a:hover{
    background-color: var(--blue-color);
  }
  
  footer hr{
    margin:0px;
      color: inherit;
      border: 0;
      border-top: var(--bs-border-width) solid #f7f7f7;
      opacity: 0.1;
  }
  footer .bottom-footer{
    padding: 20px 0px 20px;
  }
  footer .bottom-footer p{
    font-family: var(--poppins-font);
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--white-color);
  }
  
  footer .bottom-footer a{
    text-decoration: none;
    background-color: var(--blue-color);
    border-radius: 50%;
    height: 15;
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    margin-left: auto;
  }



@media screen and (max-width: 991px) {

    .hero-section{
        height: auto;
    }

    
    .hero-section h1{
        font-size: 45px;
        padding: 100px 0px;
    }


header nav li a {
  padding: 15px 0px;
  display: block;
  margin-left: 0px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}


.section-2 {
    margin: 80px 0px 0px;
    padding-bottom: 80px;
}



}

@media screen and (max-width: 767px) {

    .section-2 .testimonail {
        padding: 25px 0px;
    }

    .section-2 h2 {
        font-size: 40px;
        height: 60px;
        line-height: 60px;
    }

    .section-2 p {
        font-size: 14px;
        line-height: 32px;
    }

}

@media screen and (max-width: 576px) {

  .section-3 h2 {
    font-size: 32px;
}
footer .bottom-footer p {
  font-size: 12px;
}
footer .bottom-footer{
  position: relative;
}

footer .bottom-footer .col-sm-2{
  position: absolute;
}

}


